.login-full {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.login-overlay {
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 100%;
  max-width: 420px;
  background: rgb(255, 255, 255);
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 30px 60px rgba(0,0,0,0.3);
  text-align: center;
}

.login-box h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 20px;
}

.form-group label {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 6px;
}

.form-group input {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.form-group input:focus {
  outline: none;
  border-color: #274570;
  box-shadow: 0 0 0 2px rgba(13,110,253,0.2);
}

.btn-login {
  width: 100%;
  background: #0c469e;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.btn-login:hover {
  background: #0b5ed7;
}

.signup {
  margin-top: 20px;
  font-size: 0.9rem;
}
