html, body, #root {
  height: 100%;
}

body {
  font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.app-layout {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  background: #0f172a;
  color: white;
}
