.registrar-full {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.registrar-overlay {
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrar-box {
    width: 100%;
    max-width: 800px;
    background: rgb(255, 255, 255);
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
}

.registrar-box h2{
    margin: 20px 0px;
    text-align: center;
}