* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;

  background-image: url('../../assets/home-page-quadra.jpeg');
  background-size: cover;
  background-position: center;

  filter: blur(10px);
  transform: scale(1.1);
}

.hero-content {
  position: relative;
  z-index: 1;
  color: #000000;
}

.hero-text h1 {
  font-size: 2.5rem;
  padding-top: 80px;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

.hero-text p {
  margin: 20px 0;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

.group-botoes{
  justify-content: space-between;
  margin: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.botao-home{
  padding: 10px 15px;
  background-color: rgba(85, 85, 85, 0.753);
  color: aliceblue;
  border-radius: 6px;
  border-style: none;
  cursor: pointer;
  box-shadow: 0 3px 6px rgb(248, 248, 248);

}

.botao-home:hover{
  background-color: rgba(51, 51, 51, 0.753);
}

.features {
  background: #00000027;
  padding: 60px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.feature-card {
  background: #0000005e;
  padding: 20px;
  border-radius: 10px;
  color: white;
  box-shadow: 1px 3px 6px rgb(248, 248, 248);
}