.header {
  background: #000000;
  color: #fff;

  position: sticky;
  top: 0;
  z-index: 4;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo {
  font-size: 1.5rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-list li {
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.botao-login{
  background-color: rgba(85, 85, 85, 0.753);
  color: aliceblue;
  padding: 6px 15px;
  border-radius: 6px;
}

.botao-login:hover{
  background-color: rgba(51, 51, 51, 0.753);
}

.botao-campeonato{
  background-color: rgba(27, 230, 179, 0.568);
  color: aliceblue;
  padding: 6px 15px;
  border-radius: 6px;

}

.botao-campeonato:hover{
  background-color: rgba(20, 168, 131, 0.568);
}