.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background: #111;
  color: #fff;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  font-size: 1.5rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-list li {
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: inherit;
}